@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.easter-egg-overlay {
    position: fixed;
    inset: 0;

    overflow: hidden;


    background-color: rgba(0, 0, 0, 0.7);

    z-index: 9999;

    pointer-events: none;
}

.credits-name {
    position: absolute;

    white-space: nowrap;

    color: white;
    font-size: 4rem;
    font-weight: bold;
    font-family: "Orbitron", sans-serif;

    opacity: 0;

    text-shadow:
        0 0 10px currentColor,
        0 0 20px currentColor,
        0 0 40px currentColor;

    animation:
        scroll-across 4s linear forwards,
        rainbow-colours 1s linear infinite;

}

@keyframes scroll-across {

    0% {
        opacity: 0;
        transform: translateX(100vw);
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes rainbow-colours {

    0% {
        color: red;
    }

    20% {
        color: orange;
    }

    40% {
        color: yellow;
    }

    60% {
        color: lime;
    }

    80% {
        color: cyan;
    }

    100% {
        color: magenta;
    }
}