


.leftColumn {
    display: flex;
    flex-direction: column;

}

.middleSection {
    display: flex;
    width: 50%;
    margin: 0 auto;

    flex-direction: row;
}

.rightColumn {
    display: flex;
    flex-direction: column;
}

.datesList {
    display: flex;
    flex-direction: column;
}

