


.leftColumn {
    display: flex;
    flex-direction: column;

}

.middleSection {
    display: flex;
    flex-direction: row;
}

.rightColumn {
    display: flex;
    flex-direction: column;
}

.datesList {
    display: flex;
    flex-direction: column;
}

