* {
    box-sizing: border-box;
}

html, body, #root {
    min-height: 100%;
    margin: 0;
}

body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

button, input, textarea, select {
    font: inherit;
}



