.leftNav {
    display: flex;
    flex-direction: row;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftColumn {
    display: flex;
    flex-direction: column;

}

.middleSection {
    display: flex;
    flex-direction: row;
}

.rightColumn {
    display: flex;
    flex-direction: column;
}

.datesList {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: grey;
    width: 100%;

}