.results-drawer__open-in-google-maps-button {
    flex: 0 0 auto;
    border: none;
    border-radius: 999px;
    padding: 0.45rem 0.8rem;
    color: #314c2f;
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.1s;
    position: relative;
    box-shadow: 0 3px #7eae7b; /* Darker bottom shadow for depth */
    background: #f3f8eb;
}

.results-drawer__open-in-google-maps-button--active {
    box-shadow: 0 1px #5d885a; /* Smaller shadow makes it look closer to the "ground" */
    background: #e4e8dc;
    transform: translateY(3px);
}